<p id="notice"><%= notice %></p>

<p>
  <strong>Security:</strong>
  <%= @stock_quote.security %>
</p>

<%= link_to 'Edit', edit_stock_quote_path(@stock_quote) %> |
<%= link_to 'Back', stock_quotes_path %>
